:root {
	--light-color: #f1f1f1;
	--gray: #aaa;
	--dark-color: #2f3640;
	--color: #ff5252;
}

html,
body {
	margin: 0;
	font-family: 'Comfortaa', cursive;
	background-color: var(--light-color);
}
* {
	margin: 0;
}

/*NAVBAR*/
nav {
	z-index: 5;
	position: fixed;
	top: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	min-height: 50px;
	background-color: var(--light-color);
	box-shadow: 0 0 4px 0 #2c2c54c4;
}
nav.dark {
	background-color: var(--dark-color);
}

nav.go-back-link {
	justify-content: flex-start;
}

nav a {
	padding: 1em;
	color: var(--gray);
	text-decoration: none;
	display: block;
}

nav a:hover {
	color: var(--color);
}

nav a:active {
	color: var(--color);
}

nav a.active {
	color: var(--color);
}

nav button.menu {
	display: none;
}

@media screen and (max-width: 680px) {
	nav {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	nav a {
		flex: 1;
		width: 100%;
		margin: 0;
	}
	nav a:not(.active) {
		display: none;
		background-color: var(--dark-color);
		color: var(--light-color);
	}
	nav button.menu {
		cursor: pointer;
		background-color: var(--light-color);
		color: var(--dark-color);
		box-shadow: -1px -1px 1px 0 #2c2c5452;
		border: none;
		outline: none;
		position: absolute;
		right: 0;
		top: 0;
		width: 50px;
		height: 50px;
		display: block;
	}
	nav.show button.menu {
		color: var(--light-color);
		background-color: var(--dark-color);
	}
	nav.show a:not(.active) {
		display: block;
	}
}
/*SECTION*/

.section.start {
	margin-top: 50px;
	height: 75vh;
	cursor: default;
}

.section:nth-of-type(n) {
	background-color: var(--light-color);
	color: var(--dark-color);
}
.section:nth-last-of-type(2n) {
	background-color: var(--dark-color);
	color: var(--light-color);
}
.section.dark:nth-last-of-type(n) {
	background-color: var(--light-color);
	color: var(--dark-color);
}
.section.dark:nth-of-type(2n) {
	background-color: var(--dark-color);
	color: var(--light-color);
}
.section {
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	padding: 0 5%;
}

/* HMM */
span.text-colored {
	color: var(--color);
}

span.fixme {
	margin-top: -45px;
	padding-bottom: 45px;
	display: block;
}

/* Section Title */

.titlebox,
.subtitlebox {
	position: relative;
	display: block;
	margin: 2em;
}
.border {
	position: absolute;
	left: 20%;
	height: 15px;
	width: 60%;
	background-color: var(--color);
	border-radius: 5px;
	margin: 1em 0 2em 0;
}

.subtitlebox .border {
	height: 8px;
}
.subtitlebox h5 {
	font-size: large;
}
.titlebox h3 {
	font-size: x-large;
}

h1 {
	font-size: xx-large;
}
h1,
h2,
h3 {
	letter-spacing: 1px;
}
/* FLEX CONTAINER */
.flex-container {
	text-align: center;
	margin: 5em;
	width: 80%;
	min-height: 160px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.flex-item {
	margin: 1em;
	min-height: 160px;
	max-width: 160px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.flex-container .flex-item img {
	height: 100px;
	width: auto;
}
.flex-container .flex-item.img-link-container a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 120px;
	min-width: 200px;
}
.flex-container .flex-item.img-link-container a img {
	width: 80px;
	height: auto;
}
/* FLEX for TEAM */
.flex-container.team .flex-item {
	min-height: 200px;
	max-width: 200px;
}
.flex-container.team .flex-item img {
	border-radius: 37px;
}
.title {
	color: var(--color);
	font-size: small;
}
/* FLEX for MATERIALS*/
.flex-container.materials .flex-item {
	min-height: 180px;
	max-width: 180px;
}
.flex-container.materials .flex-item img {
	height: 120px;
	width: 120px;
	border-radius: 75px;
}

/*SECTION LINKS*/
a {
	text-decoration: none;
}
.section:nth-of-type(n) a {
	color: var(--dark-color);
}
.section:nth-of-type(n) a:hover,
.section:nth-of-type(2n) a:hover {
	color: var(--color);
}
.section:nth-of-type(2n) a {
	color: var(--light-color);
}
/* Kod Renklendirme */
code pre {
	font-family: 'Fira Mono', monospace;
	color: #2c2c54;
}
code pre .expr1 {
	color: #227093;
}
code pre .expr2 {
	color: #b33939;
}
code pre .expr3 {
	color: #218c74;
}
code pre var {
	color: #cd6133;
}
code pre .expr4 {
	color: #9c9cc4;
}

div.text-content {
	line-height: 1.5em;
	padding: 2% 10%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
}
div.text-content p {
	margin: 2%;
}
div.text-content code {
	background: var(--light-color);
	padding: 2%;
}
