header {
  background-color: pink;
  min-height: 64px;
  position: relative;
}

header::before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 64px;
  margin-top: -32px;
  transform: skewY(-2deg);
  background-color: inherit;
}
